.sidebar {
  min-width: 400px;
  border-right: 1px solid lightgrey;
  padding-right: 5px;
  height: calc(100vh - 56px);
  overflow-y: scroll;
}

.sidebar__tasks {
  .list-group-item {
    border-radius: 0;
  }
}

.sidebar__milestones {
  .list-group-item {
    padding-left: 30px;
  }
}
