.projects-show__container {
  width: 100%;
  height: calc(100vh - 56px);
  overflow-y: scroll;
}

.projects-show__header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.projects-show__tasks {
  padding-top: 10px;
  background-color: lightgrey;
  .nav.nav-tabs {
    border-bottom: 1px solid gray;
  }
  .nav-item {
    background-color: lightgrey;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

.projects-show__milestones {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 20px;
  background-color: white;
}
