.container
  %ul.nav.nav-tabs.w-100
    %li.nav-item
      %a.nav-link.active{"aria-current" => "page", :href => "#"} 実行中
    %li.nav-item
      %a.nav-link{:href => "#"} 完了済み
  .projects-show__milestones.container
    %h2=task.name
    .card
      .card-header 正常系を作成する
      .card-body システムスペックで
