.d-flex.flex-column.align-items-stretch.flex-shrink-0.bg-body-tertiary{:style => "width: 380px;"}
  %a.d-flex.align-items-center.flex-shrink-0.p-3.link-body-emphasis.text-decoration-none.border-bottom{:href => "/"}
    %svg.bi.pe-none.me-2{:height => "24", :width => "30"}
      %use{"xlink:href" => "#bootstrap"}
    %span.fs-5.fw-semibold List group
  .list-group.list-group-flush.border-bottom.scrollarea
    %a.list-group-item.list-group-item-action.active.py-3.lh-sm{"aria-current" => "true", :href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small Wed
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{:href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Tues
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{:href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Mon
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{"aria-current" => "true", :href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Wed
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{:href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Tues
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{:href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Mon
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{"aria-current" => "true", :href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Wed
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{:href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Tues
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{:href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Mon
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{"aria-current" => "true", :href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Wed
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{:href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Tues
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
    %a.list-group-item.list-group-item-action.py-3.lh-sm{:href => "#"}
      .d-flex.w-100.align-items-center.justify-content-between
        %strong.mb-1 List group item heading
        %small.text-body-secondary Mon
      .col-10.mb-1.small Some placeholder content in a paragraph below the heading and date.
