- if notice.present? || alert.present?
  .flash-message-toast.toast.show.position-fixed.top-2.end-0.p-3
    .toast-body.d-flex.justify-content-between
      - if notice
        .text-success
          = notice
      - else
        .text-danger
          = alert
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "toast", :type => "button"}
